<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <link href="${ url_for('static', filename='css/normalize.css') }" media="all" rel="stylesheet" type="text/css" />
    <link href="${ url_for('static', filename='css/page_style.css') }" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="${ url_for('static', filename='js/jquery.min.js') }"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%block name="jsfile"></%block>
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
            <% menu = [
                ('presence_weekday.html', 'Presence by weekday'),
                ('mean_time_weekday.html', 'Presence mean time'),
                ('presence_start_end.html', 'Presence start-end')
            ] %>

            % for href, caption in menu:
                <li
                    %if href == selected:
                        id="selected"
                    %endif
                ><a href="${href}">${caption}</a></li>
            % endfor
            </ul>
        </div>
        <div id="content">
            <h2><%block name="content_title"></%block></h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="${ url_for('static', filename='img/loading.gif') }" />
                </div>
            </p>
        </div>
    </div>
</body>
</html>
